<template>
  <div>
    <h1>{{ $t('album.list') }}</h1>
    <button type="button" @click="reset">reset</button>
    <!--    <h1>AlbumList</h1>-->
    <template v-if="!!albums">
      <div v-for="album in albums" style="margin-bottom: 10px;" :class="{'test-error': album.id === 1}">
        <div>
          <nuxt-link :to="{path: `./detail/${album.id}`}">TO - id : {{ album.id }}</nuxt-link>
        </div>

        <div>
          {{ album }}
        </div>
      </div>
    </template>

    <no-ssr placeholder="loading...">
      <!-- default | spiral | circles | bubbles | waveDots-->
      <infinite-loading :identifier="key" @infinite="infiniteHandler" spinner="waveDots">
        <!-- <div slot="spinner">Loading...</div>-->
        <div slot="no-more">No more message</div>
        <div slot="no-results">No results message</div>
      </infinite-loading>
    </no-ssr>

    <button @click="onAdd">ADD</button>
  </div>
</template>

<script lang="ts">
import Vue                             from 'vue'
import {Component, Watch}              from 'nuxt-property-decorator';
import InfiniteLoading, {StateChanger} from 'vue-infinite-loading';

import {Album} from '@/src/app/sample/album/model/album.model';

@Component({
  head      : {
    title: 'AlbumList'
  },
  components: {
    InfiniteLoading
  }
})
export default class AlbumList extends Vue {
  albums: Album.Response.FindAll[] = [];
  page: number = 0;
  key: string = this.$util.getRandomString(10);

  created() {
    console.log(this.$i18n.localeProperties.code);
    // this.$store.dispatch('album/getAlbums');
  }

  onAdd() {
    this.$router.push({path: `./add`})
  }

  reset() {
    this.page = 0;
    this.albums = [];
    this.key = this.$util.getRandomString(10);
  }

  infiniteHandler($state: StateChanger) {
    this.$axios.$get('https://jsonplaceholder.typicode.com/users').then((response) => {
      this.page++;

      if (this.page < 5) {
        this.albums.push(...response);
        $state.loaded();
      } else {
        $state.complete();
      }
    })
  }

  @Watch('$store.state.album.albums')
  getAlbum() {
    this.albums = [...this.$store.getters['album/getAlbums']()];
  }
}
</script>
