<template>
  <div>
    <h1>AlbumDetail</h1>
    {{ album }}
    <h1>UserDetail</h1>
    {{ user }}
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {Component, Watch} from 'nuxt-property-decorator';

import {Album} from '@/src/app/sample/album/model/album.model';
import {User} from '@/src/app/sample/user/model/user.model';

@Component
export default class AlbumDetail extends Vue {
  album: Album.Response.FindOne = new Album.Response.FindOne();
  user: User.Response.FindOne = new User.Response.FindOne();

  created() {
    this.$store.dispatch('album/getAlbum', this.$route.params.id);
  }

  @Watch('$store.state.album.album')
  getAlbum() {
    this.album = this.$store.getters['album/getAlbum']();
    this.$store.dispatch('user/getUser', this.album.userId);
  }

  @Watch('$store.state.user.user')
  getUser() {
    this.user = this.$store.getters['user/getUser']();
  }
}
</script>
