<template>
  <div>
    <h1>AlbumAdd</h1>
    <div>
      <div>
        <label>
          userId:&nbsp;
          <input v-model.number="add.userId" type="number" v-numeric-only/>
        </label>
      </div>

      <div>
        <label>
          title:&nbsp;
          <input v-model="add.title" type="text" v-numeric-only/>
        </label>
      </div>

      <button @click="onAdd">ADD</button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {Component, Watch} from 'nuxt-property-decorator';

import {Album} from '@/src/app/sample/album/model/album.model';

@Component
export default class AlbumAdd extends Vue {
  add: Album.Request.Add = new Album.Request.Add();

  onAdd() {
    this.$store.dispatch('album/setAlbum', this.add);
  }

  @Watch('$store.state.album.result')
  getResult() {
    const result = this.$store.getters['album/getResult']();
    if (!!result.id) {
      this.$router.back();
    }
  }
}
</script>
