<template>
  <div>
    <h1>UserList</h1>
    <template v-if="!!users">
      <div v-for="user in users" style="margin-bottom: 30px;">
        <div>
          <nuxt-link :to="{path: `./detail/${user.id}`}">TO - id : {{ user.id }}</nuxt-link>
        </div>

        <div>
          {{ user }}
        </div>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {Component} from 'nuxt-property-decorator';

import {User} from '@/src/app/sample/user/model/user.model';
import UtilService from '@/src/app/shared/service/util.service';

@Component({
  head: {
    title: 'UserList'
  },
  async asyncData({store}) {
    try {
      await store.dispatch('user/getUsers');
    } catch (error) {
      console.log('ERROR', error);
    }

    return {
      users: store.getters['user/getUsers']()
    };
  }
})
export default class UserList extends Vue {
  users: User.Response.FindAll[] = [];
  utilService = new UtilService();

  created() {
    console.log(this.utilService.dateToFormatDate(new Date()));
  }
}
</script>
