<template>
  <div>
    <h1>SignedOut</h1>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {Component} from 'nuxt-property-decorator';

@Component
export default class SignedOut extends Vue {
}
</script>
