<template>
  <div :class="[$i18n.localeProperties.code, $mq]">
    <header-bar/>
    <h1>Default</h1>
    <nuxt-child/>
    <footer-bar/>

    <n-spinner/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'nuxt-property-decorator';

import HeaderBar from '@/src/app/system/layout/header-bar.vue';
import FooterBar from '@/src/app/system/layout/footer-bar.vue';

@Component({
  components: {FooterBar, HeaderBar}
})
export default class Default extends Vue {
}
</script>
