<template>
  <div>
    <h1>OtherSwiper</h1>
    <h1>swiperSinglePagination</h1>
    <swiper ref="swiperSinglePagination"
            :auto-update="true"
            :auto-destroy="true"
            @slideChangeTransitionStart="slideChangeTransitionStart($refs['swiperSinglePagination'])"
            @slideChangeTransitionEnd="slideChangeTransitionEnd($refs['swiperSinglePagination'])"
            @transitionStart="transitionStart($refs['swiperSinglePagination'])"
            @transitionEnd="transitionEnd($refs['swiperSinglePagination'])"
            :options="swiperSinglePagination">
      <template v-for="(data, index) in sampleSwiperArray">
        <swiper-slide>
          <div class="inner-swiper">Slide {{ index + 1 }}</div>
        </swiper-slide>
      </template>

      <div class="swiper-pagination" slot="pagination"></div>
    </swiper>

    <h1>swiperMultiNavigation</h1>
    <swiper ref="swiperMultiNavigation"
            :auto-update="true"
            :auto-destroy="true"
            :options="swiperMultiNavigation">
      <template v-for="(data, index) in sampleSwiperArray">
        <swiper-slide>
          <div class="inner-swiper">Slide {{ index + 1 }}</div>
        </swiper-slide>
      </template>

      <div class="swiper-button-prev" slot="button-prev"></div>
      <div class="swiper-button-next" slot="button-next"></div>
    </swiper>

    <h1>swiper3DScrollbar</h1>
    <swiper ref="swiper3DScrollbar"
            :auto-update="true"
            :auto-destroy="true"
            :options="swiper3DScrollbar">
      <template v-for="(data, index) in sampleSwiperArray">
        <swiper-slide>
          <div class="inner-swiper">Slide {{ index + 1 }}</div>
        </swiper-slide>
      </template>

      <div class="swiper-scrollbar" slot="scrollbar"></div>
    </swiper>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {Component} from 'nuxt-property-decorator';
import {Swiper, SwiperSlide, directive} from 'vue-awesome-swiper'

import {SAMPLE_SWIPER_ARRAY, SWIPER_3D_SCROLLBAR, SWIPER_MULTI_NAVIGATION, SWIPER_SINGLE_PAGINATION} from '@/src/app/sample/other/config/swiper.config';

@Component({
  components: {Swiper, SwiperSlide},
  directives: {swiper: directive}
})
export default class OtherSwiper extends Vue {
  swiperSinglePagination = SWIPER_SINGLE_PAGINATION;
  swiperMultiNavigation = SWIPER_MULTI_NAVIGATION;
  swiper3DScrollbar = SWIPER_3D_SCROLLBAR;

  sampleSwiperArray = SAMPLE_SWIPER_ARRAY;

  slideChangeTransitionStart(refs: any) {
    console.log('slideChangeTransitionStart', refs.$swiper.activeIndex);
  }

  slideChangeTransitionEnd(refs: any) {
    console.log('slideChangeTransitionEnd: ', refs.$swiper.activeIndex);
  }

  transitionStart(refs: any) {
    console.log('transitionStart: ', refs.$swiper.activeIndex);
  }

  transitionEnd(refs: any) {
    console.log('transitionEnd: ', refs.$swiper.activeIndex);
  }
}
</script>

<style scoped>
.inner-swiper {
  width: 100%;
  height: 300px;
  background-color: orange;
}
</style>
