<template>
  <div>
    <h1>OtherServer</h1>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {Component} from 'nuxt-property-decorator';

import {OtherServer} from '@/src/app/sample/other/server/other.server';
import {User} from '@/src/app/sample/user/model/user.model';
import {Album} from '@/src/app/sample/album/model/album.model';

@Component({
  head: {title: 'OtherServers'},
  ...OtherServer.Server
})
export default class OtherServers extends Vue {
  users: User.Response.FindAll[] | null = null;
  user: User.Response.FindOne | null = null;

  created() {
    // this.$store.dispatch('album/setAlbum', new Album.Request.Add());
    // console.log('Users: ', this.users);
    // console.log('User: ', this.user);
    // console.log('$store Users: ', this.$store.getters['user/getUsers']());
    // console.log('$store User: ', this.$store.getters['user/getUser']());
  }
}
</script>
