<template>
  <div>
    <h1>OtherIndex</h1>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {Component, Watch} from 'nuxt-property-decorator';

import {OtherServer} from '@/src/app/sample/other/server/other.server';

@Component(OtherServer.Index)
export default class OtherIndex extends Vue {
  created() {
    try {
      console.log('created');
      console.log(this.$store.dispatch('user/getUsers'));
      console.log(this.$store.dispatch('user/getUser', '1'));

      console.log(this.$store.getters['global/getToken']());
    } catch (error) {
      console.log('ERROR', error);
    }
  }

  @Watch('$store.state.user.users')
  getUsers() {
    console.log('Users: ', this.$store.getters['user/getUsers']());
  }

  @Watch('$store.state.user.user')
  getUser() {
    console.log('User: ', this.$store.getters['user/getUser']());
  }
}
</script>
