<template>
  <div>
    <h1>OtherMiddleware</h1>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {Component} from 'nuxt-property-decorator';

import {OtherServer} from '@/src/app/sample/other/server/other.server';

@Component({
  head: {title: 'OtherMiddleware'},
  ...OtherServer.Middleware
})
export default class OtherMiddleware extends Vue {
}
</script>
