<template>
  <div>
    <h1>OtherLogin</h1>
    <button @click="$auth.loginWith('google', { params: { prompt: 'select_account'} })" style="cursor: pointer">Google</button>
    <button @click="$auth.loginWith('facebook')" style="cursor: pointer">Facebook</button>
    <div id="appleid-signin"
         data-mode="center-align"
         data-type="continue"
         data-color="white"
         data-border="false"
         data-border-radius="50"
         data-width="324"
         data-height="45"
         data-logo-size="medium"
         data-logo-position="24"
         data-label-position="78" style="cursor: pointer">
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {Component} from 'nuxt-property-decorator';

@Component
export default class OtherLogin extends Vue {

  mounted(): void {
    if (process.client) {
      // @ts-ignore
      AppleID.auth.init({
        clientId   : `kr.co.geniemusic.stayg.servicesid`,
        scope      : `name email`,
        redirectURI: `https://dev.niceday.io/callback?mode=apple`,
        // state      : `${process.env.APPLE_STATE}`,
      });
    }
  }
}
</script>
