<template>
  <div>
    SampleComponent
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'nuxt-property-decorator';

@Component
export default class Sample extends Vue {
}
</script>
